# source
git /extensions/OpenGLSelection    https://github.com/OpenEngineDK/extensions-OpenGLSelection.git
git-dev /extensions/OpenGLSelection    git@github.com:OpenEngineDK/extensions-OpenGLSelection.git
