# source
darcs /extensions/OpenGLSelection    http://openengine.dk/code/extensions/OpenGLSelection
darcs-dev /extensions/OpenGLSelection    fh.daimi.au.dk:/users/cgd/code/extensions/OpenGLSelection
